.container {
    width: 25rem;
        height: 20rem;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        border: 2px solid #ff4081 ;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado h1 */
h2 {
 color: #ff4081;
 font-size: 28px;
 margin-bottom: 20px;
}

/* Estilos para el formulario */


/* Estilos para los campos de entrada de texto */
input[type="text"], input[type="password"] {
 position: relative;
 left: -0.5rem;
 width: 100%;
 padding: 10px;
 margin-bottom: 10px;
 border: 1px solid #ccc;
 border-radius: 5px;
}

/* Estilos para el botón de registro */
button {
 position: relative;
 top: 0.5rem;
 background-color: #ff4081;
 color: #fff;
 border: none;
 padding: 10px 20px;
 border-radius: 5px;
 cursor: pointer;
}

/* Estilos para el mensaje de error */
.error {
 color: #ff0000;
 margin-top: 10px;
}

.nav-link1 {
 display: flex;
 justify-content: flex-end;
}